@layer components {
  .ui-slider-container {
    position: relative;
  }

  .ui-slider-values {
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: space-between;
  }

  .ui-slider-value-label {
    font-size: 0.75rem;
    color: var(--color-foreground-muted);
  }

  .ui-slider-root {
    position: relative;
    display: flex;
    width: 100%;
    touch-action: none;
    user-select: none;
    align-items: center;
  }

  .ui-slider-track {
    position: relative;
    height: 0.375rem;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 9999px;
    background: var(--color-border-default);
  }

  .ui-slider-range {
    position: absolute;
    height: 100%;
    background: var(--color-primary-default);
  }

  .ui-slider-thumb {
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 9999px;
    border: 1px solid var(--color-primary-default);
    background: var(--color-surface-card);
    box-shadow: var(--shadow-sm);
    transition: transform var(--duration-normal);
  }

  .ui-slider-thumb:hover {
    transform: scale(1.1);
  }

  .ui-slider-thumb:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-primary-default);
  }

  .ui-slider-thumb[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}
